In [152]:
import pandas as pd

df = pd.read_csv('../data/airbnb_input.csv', index_col='room_id')

# Data

In [153]:
df.head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

# Exercises

__Pick a place for Alice!__

Alice is coming to Lisbon for one week with her husband and 2 children. They are looking for an apartment with separate rooms for the parents and for the kids. They don't mind where they stay in the city, or how much they pay, they just really want everything to please them in their stay. This means that they only accept places with more than 10 reviews and with overall satisfaction over 4. When selecting the best places for them, make sure that places with better overall satisfaction are shown at the top, and between places with the same overall satisfaction, those with more reviews are shown first. At the end, only show them the top 5 places.

In [154]:
alice_df = df[(df.room_type == 'Entire home/apt') & (df.bedrooms >= 2) & (df.accommodates >= 4) \
              & (df.reviews > 10) & (df.overall_satisfaction > 4)]

In [155]:
alice_df.sort_values(['overall_satisfaction', 'reviews'], ascending=[False, False]).head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
176153,842219,Entire home/apt,Misericórdia,438,5.0,4,2.0,102.0
44043,192830,Entire home/apt,Santa Maria Maior,316,5.0,7,3.0,80.0
202150,989393,Entire home/apt,Santa Maria Maior,274,5.0,4,2.0,62.0
4132059,20604318,Entire home/apt,Misericórdia,273,5.0,6,3.0,48.0
785650,4141894,Entire home/apt,Santa Maria Maior,266,5.0,5,3.0,133.0


__Inform Bob about his room's reviews!__

Bob is a grumpy landlord that calls you every Friday to ask about his room's reviews. But today, he's particularly grumpy because his sister Claire listed a room with Airbnb last week, so he also wants to know if her room has more reviews than his. So, first get a DataFrame with only Bob's and Claire's rooms. They have room ids 97503 and 90387 respectively. Then, from this DataFrame, get a Series with the room with more reviews. Finally, export the result into a csv file called bob.csv in the practice directory, and use ";" as the separator.

In [156]:
bob_df = df.loc[[97503, 90387]]
bob_df

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
97503,515924,Private room,Santo António,39,4.0,2,1.0,26.0
90387,490050,Private room,Santo António,204,5.0,2,1.0,46.0

In [157]:
bob_df = df.loc[90387]
bob_df.to_csv('../data/bob.csv', sep=';')



__Find a place for Diana__

Diana is coming to Lisbon for 3 nights and she really wants to meet new people. She has a 50â‚¬ budget to spend with accommodation. So, find her the top 10 cheapest places and give more preference to shared rooms than to private ones, and then to rooms with better overall satisfaction score and more reviews. At the end, export the result into a json file with index orientation.

In [158]:
diana_df = df[df.price <= 50/3].sort_values(['price','room_type', 'overall_satisfaction', 'reviews'], \
                                            ascending=[True, False, False, False]).head(10)
diana_df

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
1179457,5799522,Shared room,Santo António,42,4.0,16,1.0,10.0
5557699,28812904,Shared room,Santa Maria Maior,22,4.0,1,1.0,10.0
13116032,72951043,Shared room,Arroios,1,0.0,8,1.0,10.0
19314160,135270245,Shared room,Santa Clara,0,0.0,1,1.0,10.0
8422256,29862851,Private room,Alvalade,0,0.0,1,1.0,10.0
18969195,73546613,Private room,Areeiro,0,0.0,1,1.0,10.0
19292095,36108575,Private room,Carnide,0,0.0,2,1.0,10.0
13342103,3518523,Entire home/apt,Santa Maria Maior,52,4.5,4,1.0,10.0
14933182,91501272,Shared room,Santo António,5,5.0,8,1.0,11.0
14708916,91501272,Shared room,Santo António,18,4.5,4,1.0,11.0

In [159]:
diana_df.to_json('../data/diana.json', orient='index')